<nav>
  <div class="nav-wrapper">
    <a routerLink="" class="brand-logo right">Routes</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
      <li routerLinkActive="active"><a routerLink="/cursos" [queryParams]="{pagina:1}">Cursos</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/curso' , 1]">Curso Con ID</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <p>ID del curso</p>
  <input [value]="valor"
  (input)="valor = $event.target.value"/>
 <router-outlet></router-outlet>
</div>
